{{!-- <div class="row">
  <div class="col-md-12">
    <h2>Categories
      <a href="/categories/add" class="btn btn-success pull-right">Add Category</a></h2>
    <hr />

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Category ID</th>
            <th scope="col">Category Name</th>
          </tr>
        </thead>
        <tbody>
          {{#each categories}}
            <tr>
              <td><a href="/posts?category={{id}}">{{id}}</a></td>
              <td><a href="/posts?category={{id}}">{{category}}</a></td>
              <td><a
                  href="categories/delete/{{id}}"
                  class="btn btn-danger"
                >remove</a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  {{#unless categories}}
    <div class="col-md-12 text-center">
      <strong>no results</strong>
    </div>
  {{/unless}}
</div> --}}

{{!-- <section class="mt-7">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="row w-100">
      <div class="col-12">

        <div class="card">
          <div class="card-header bg-dark text-light">
            Categories
          </div>
          <div class="card-body">
            <div class="d-flex align-items-center mb-3 gap-2">
              <h4 class="m-0">Options:</h4>
              <div>
                <button
                  class="btn btn-secondary"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#user"
                  aria-expanded="false"
                  aria-controls="collapseExample"
                >
                  User Only
                </button>

                <button
                  class="btn btn-secondary"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#other"
                  aria-expanded="false"
                  aria-controls="collapseExample"
                >
                  Other Result
                </button>

                <a href="/categories/add" class="btn btn-secondary">Add Category</a>
              </div>

            </div>

            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Category ID</th>
                  <th scope="col">Category Name</th>
                  {{! <th scope="col">Number of Post</th> }}
                  <th scope="col">Delete</th>
                </tr>
              </thead>

              {{! User Result }}
              <tbody class="collapse show" id="user">
                {{#each categories}}
                  {{#if userOrigin}}
                    <tr>
                      <td><a href="/posts?category={{id}}">{{id}}</a></td>
                      <td><a href="/posts?category={{id}}">{{category}}</a></td>
                      <td><a
                          href="categories/delete/{{id}}"
                          class="btn btn-danger"
                        ><i class="fas fa-circle-xmark"></i></a></td>
                    </tr>
                  {{/if}}
                {{/each}}
              </tbody>

              {{! Other Result }}
              <tbody class="collapse" id="other">
                {{#each categories}}
                  {{#unless userOrigin}}
                    <tr>
                      <td><a href="/posts?category={{id}}">{{id}}</a></td>
                      <td><a href="/posts?category={{id}}">{{category}}</a></td>
                      <td>
                        <i class="fas fa-ban"></i>
                      </td>
                    </tr>
                  {{/unless}}
                {{/each}}
              </tbody>

            </table>
          </div>

        </div>

      </div>

    </div>
  </div>
</section> --}}

<section class="mt-7">
  <div class="container">
    <div class="row w-100 d-flex justify-content-center align-item-center">
      <div class="col-9">

        <div class="d-flex align-items-center mb-3 gap-2">
          <h4 class="m-0">Options:</h4>
          <div>
            <a href="/categories/add" class="btn btn-primary m-1">Add Category</a>
            <button
              class="btn btn-secondary m-1"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#other"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              All Result
            </button>
          </div>
        </div>

        <div class="border border-dark shadow-sm">
          <table class="table table-hover table-striped m-0">
            <thead class="table-secondary">
              <tr>
                <th scope="col">Category ID</th>
                <th scope="col">Category Name</th>
                {{! <th scope="col">Number of Post</th> }}
                <th scope="col">Delete</th>
              </tr>
            </thead>

            {{! User Result }}
            <tbody>
              {{! User Category }}
              {{#each categories}}
                {{#if userOrigin}}
                  <tr>
                    <td><a
                        href="/posts?category={{id}}"
                        class="btn btn-link"
                      >{{id}}</a></td>
                    <td><a
                        href="/posts?category={{id}}"
                        class="btn btn-link"
                      >{{category}}</a></td>
                    <td><a
                        href="categories/delete/{{id}}"
                        class="btn btn-danger"
                      ><i class="fas fa-circle-xmark"></i></a></td>
                  </tr>
                {{/if}}
              {{/each}}

              {{! None User Made }}
              {{#each categories}}
                {{#unless userOrigin}}
                  <tr class="collapse" id="other">
                    <td><a
                        href="/posts?category={{id}}"
                        class="btn btn-link"
                      >{{id}}</a></td>
                    <td><a
                        href="/posts?category={{id}}"
                        class="btn btn-link"
                      >{{category}}</a></td>
                    <td><a class="btn btn-danger disabled"><i
                          class="fas fa-ban"
                        ></i></a></td>
                  </tr>
                {{/unless}}
              {{/each}}

            </tbody>

          </table>
        </div>

      </div>
    </div>
  </div>
</section>